.root {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding: 25px;
}

.recent-statistics-h1 {
    color: #FFFFFF;
}