.root {
    padding: 5px;
}

.button-active {
    background-color: #FF0000;
    font-weight: 400;
    border-radius: 100px;
    display: inline-block;
    width: 140px;
    padding: 0em;
    height: 50px;
    align-self: center;
    color: #FFFFFF;
}