.root {
    padding: 5px;
}

.contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 -3px 22px rgba(0, 0, 0, 0.1);
}

.h4 {}

.button {
    font-weight: 400;
    border-radius: 0px;
}

.profile-image {
    width: 250px;
    height: 250px;
}

.email {
    margin-top: -15px;
}